html,

body {

  margin: 0;

  padding: 0;

  width: 100%;

  height: 100%;

  overflow-x: hidden;

  font-family: "EB Garamond", 'Lucida Sans';

  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;

}

p {

  color: #838383;

  font-size: 1.5em;

}


h2 {

  color: #838383;

}


.wrapper {

  height: 100%;

  max-width: 100vw;

  margin-left: auto;

  margin-right: auto;

}


/* Navbar */

.nav-link {

  font-size: 1em;

}


.search-bar {

  width: 100%;

}


.search-bar > div > button {

  border-radius: 30px 0 0 30px;

}


.search-bar > input {

  border-radius: 0 30px 30px 0;

}


.highlighter {

  background-color: #d3e0ee;

  color: #000000;

}


.no-result {

  text-align: center;

  padding: 1em 0;

}


/* Thumbnail */

.thumbnail-carousel {

  max-height: 75vh;

}


.contain {

  width: 100%;

  height: 75vh;

  object-fit: cover;

  object-position: center;

}


.thumbnail-info {

  padding: 2em;

}


.thumbnail-info_subheading {

  padding-right: 5em;

}


/* Content */

.content-sidebar {

  background: linear-gradient(to bottom, rgb(228, 228, 228) 0%, white 100%) left bottom no-repeat;

}


.content-sidebar > div {

  padding: 2em;

}


.content-sidebar > div > p,

a {

  font-size: 1.2em;

}


.article {

  background:  linear-gradient(to left, white 0%, rgb(228, 228, 228) 50%, white 100%) left bottom no-repeat;

  background-size: 100% 2px;

}


.article-img {

  margin-bottom: 1em;

  width: 100%;

  height: 40vh;

  background-size: cover;

  background-position: center;

}


.article-content-hidden {

  overflow: hidden;

  text-overflow: ellipsis;

  display: -webkit-box;

  -webkit-line-clamp: 5;

  -webkit-box-orient: vertical;

  word-spacing: 3px;

}


.article-content-full {

  overflow: visible;

  display: block;

  -webkit-line-clamp: none;

}


/* Pagination */

.pagination > li > a {

  background-color: #f5f5f5 !important;

  color: #696969 !important;

}


.pagination > li > a:focus,

.pagination > li > a:hover,

.pagination > li > span:focus,

.pagination > li > span:hover {

  background-color: #dddddd !important;

  border-color: #ddd;

}


.pagination > .active > a {

  color: #000000;

  background-color: #dddddd !important;

  border: solid 1px #c9c9c9 !important;

}


.pagination > .active > a:hover {

  background-color: #dddddd !important;

  border: solid 1px #c9c9c9 !important;

}


/* Sponsors */

.sponsors {

  padding: 2em;

}


.sponsors-content > div {

  padding: 0em;

  margin: 0em;

  width: 1000em;

  height: 50em;

  background-size: contain;

  background-position: center;

  background-repeat: no-repeat;

}


.sponsors-img {

  background-image: url(../img/Sponsors.png);

}



/* Footer */

footer,

.navbar,

.thumbnail-info {

  color: white;

  background-color: #0f0f0f;

}


.quote {

  padding: 0.5em 0;

  color: #acacac;

}


.footer-content {

  padding: 2em 1.5em 2em 2em;

  height: 100%;

  width: 100%;

  text-align: center;

}


.flickr {

  margin: 0.5em 0.5em 0;

  width: 10em;

  height: 10em;

  background-size: cover;

  background-position: center;

  filter: grayscale(80%);

}


.flickr-img1 {

  background-image: url("https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}


.flickr-img2 {

  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}


.flickr-img3 {

  background-image: url("https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}


.flickr-img4 {

  background-image: url("https://images.unsplash.com/photo-1514432324607-a09d9b4aefdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}


.flickr-img5 {

  background-image: url("https://images.unsplash.com/photo-1507133750040-4a8f57021571?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}


.flickr-img6 {

  background-image: url("https://images.unsplash.com/photo-1522012188892-24beb302783d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}


.flickr-img7 {

  background-image: url("https://images.unsplash.com/photo-1458819714733-e5ab3d536722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80");

}


.flickr-img8 {

  background-image: url("https://images.unsplash.com/photo-1502849394214-c4b6352145ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=662&q=80");

}


.flickr-img9 {

  background-image: url("https://images.unsplash.com/photo-1525480122447-64809d765ec4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}


.icons {

  padding: 1em 0;

}


.icons img {

  margin: 0.2em 0.2em 0 0;

  width: 3.9em;

}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

  .flickr {

    width: 4.5em;

    height: 4.5em;

  }


  .footer-content {

    padding: 2em 1.5em 2em 2em;

    height: 100%;

    width: 100%;

    text-align: left;

  }


  .modal {

    padding: 2em;

  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {

  .flickr {

    width: 6em;

    height: 6em;

  }

}


@media only screen and (min-width: 1400px) {

  .flickr {

    width: 8em;

    height: 8em;

  }

}


.animationFadein {

  opacity: 0;

  animation: fadein 0.3s ease;

}


@keyframes fadein {

  0% {

    opacity: 0.25;

  }

  100% {

    opacity: 1;

  }

}